.App {
  text-align: center;
}

.App-header {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #032336;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.8em;
}

.App-intro {
  font-size: large;
}

.C1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.C2 {
  background-color: ;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.active {
  background-color: #477187;
  font-size: 13px;
  outline: none;
}

.inactive {
  background-color: #6F8FA2;
  font-size: 13px;
  outline: none;
}

.Svgs {
  padding: 10px;
  grid-row: 1 / span 3;
}

.Txts {
  grid-row-start: 1;
  grid-row-end: 2;
}

.Sounds {
  grid-row-start: 2;
  grid-row-end: 3;
}
