.App {
  text-align: center;
}

.App-header {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.8em;
}

.App-intro {
  font-size: large;
}

.C1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.C2 {
  background-color: lightblue;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.C3 {
  background-color: lightgrey;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.C4 {
  background-color: lightyellow;
  padding: 2  0px;
  display: grid;
  grid-template-columns: auto auto;
}

.Svgs {
  padding: 20px;
  height: 500px;
  grid-row: 1 / span 3;
}

.Tabs {
  background-color: #93dda4;
  border-style: solid;
  border-width: 1px;
}

input[type="checkbox"] {

}
