@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 50px 1fr;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  display: flex;
  align-items: center;
  grid-row: 1;
  grid-column: 1 / span 3;
  background-color: #032336;
  padding: 20px;
  color: white;
}

.App-title {
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  margin: 0;
}

.tabContainer {
  display: flex;
  flex-flow: row wrap;
  grid-column: 2 / span 2;
  grid-row: 2;
}

.tabContainer button {
  flex-grow: 1;
}

.mobileMenuButton {
  cursor: pointer;
  position: absolute;
  display: none;
  height: 50px;
  width: 50px;
  background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

.contentContainer {
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 100px;
  grid-row: 3;
  grid-column: 2 / span 2;

  align-items: center;
  justify-items: center;
}

.active,
.inactive {
  font-size: 14px;
  outline: none;
  cursor: pointer;
  color: white;
}

.active {
  background-color: #477187;
}

.inactive {
  background-color: #6F8FA2;
}

.image {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
}

.text {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-flow: column wrap; 
  justify-content: center;
}

.sound {
  justify-content: center;
  align-items: center;
  grid-row: 2;
  grid-column: 1 / span 2;
}

.text p {
  font-size: 24px;
}

/* ***** MOBIL ****** */
@media only screen and (max-width: 700px) {
  .App {
    grid-template-columns: 1fr;
  }

  .mobileMenuButton {
    display: block;
  }

  .categories {
    position: absolute;
    height: calc(100vh - 100px);
    width: 200px;
    z-index: 2;
    top: 100px;
  }

  .hidden {
    display: none;
  }

  .text {
    padding: 0;
  }
}

/* ***** TABLET ***** */
@media only screen and (max-width: 1024px) {
  .contentContainer {
    grid-template-columns: 1fr;
  }

  .text {
    grid-column: 1;
    grid-row: 2;
  }

  .sound {
    grid-column: 1;
    grid-row: 3;
  }
}

/****** CATEGORIES ******/
.categories {
  background-color: #032336;
  color: white;
  grid-column: 1;
  grid-row: 2 / span 2;
  text-align: left;
  max-width: 200px
}

.categories h3 {
  margin: 0px;
  margin-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.categories p {
  margin: 20px;
}

form {
  margin-bottom: 40px;
}

/* Inspiration from a codepen*/
/* Added comments to show that the code is understood */
/* https://codepen.io/manabox/pen/raQmpL */

/* Removes stock radio button */
[type="radio"] {
  display: none;
}

/* Styles the labels */
label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
}

/* Custom radio button */
label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

/* Circle inside radio button */
label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #93dda4;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

/* Animation for uncheck */
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

/*  Animation for check */
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
